version: "3.8"

services:

  # HAProxy load balancer
  balancer:
    image: haproxy
    container_name: balancer
    restart: unless-stopped
    volumes:
      - "{{ config_dir }}/haproxy:/usr/local/etc/haproxy:ro"
    networks:
      - web
    ports:
      - "80:80"
      - "443:443"
      - "1936:1936"
    # depends_on:
    #   - schedule
    #   - acs
    #   - ays

  # Sky Schedule app (Apache & PHP services with Laravel)
  schedule:
    image: "sturmb/sky-schedule"
    container_name: schedule
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - /mnt/jobs_main:/mnt/jobs_main
    #  - /mnt/jobs_archive_01:/mnt/jobs_archive_01
      - /mnt/orders:/mnt/orders
    depends_on:
      - schedule-db
    ports:
      - "8081:80"
      - "4543:443"
    networks:
      - web

  # American Cabin Supply site (Apache & PHP services with Laravel)
  acs:
    image: "sturmb/sky-acs"
    container_name: acs
    restart: unless-stopped
    working_dir: /var/www/html
    depends_on:
      - acsays-db
    ports:
      - "8082:80"
      - "4544:443"
    networks:
      - web

  # American Yacht Supply site (Apache & PHP services with Laravel)
  ays:
    image: "sturmb/sky-ays"
    container_name: ays
    restart: unless-stopped
    working_dir: /var/www/html
    depends_on:
      - acsays-db
    ports:
      - "8083:80"
      - "4545:443"
    networks:
      - web

  # American Accents site (Apache & PHP services)
  aa:
    image: "sturmb/sky-aa"
    container_name: aa
    restart: unless-stopped
    working_dir: /var/www/html
    ports:
      - "8080:80"
      - "4443:443"
    networks:
      - web

  # MySQL Service for the Sky Schedule database
  schedule-db:
    image: mysql:5.7.29
    container_name: schedule-db
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      # MYSQL_DATABASE: ${DB_SCHEDULE_DATABASE}
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_ONETIME_PASSWORD: "yes"
      # MYSQL_USER: ${DB_USERNAME}
      # MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - schedule-dbdata:/var/lib/mysql
      - "{{ config_dir }}/mysql/my.cnf:/etc/mysql/my.cnf"
    networks:
      - web

  # MySQL Service for the ACS and AYS sites' databases
  acsays-db:
    image: mysql:5.7.29
    container_name: acsays-db
    restart: unless-stopped
    ports:
      - "3326:3306"
    environment:
      # MYSQL_DATABASE: ${DB_ACSAYS_DATABASE}
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_ONETIME_PASSWORD: "yes"
      # MYSQL_USER: ${DB_USERNAME}
      # MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - acsays-dbdata:/var/lib/mysql
      - "{{ config_dir }}/mysql/my.cnf:/etc/mysql/my.cnf"
    networks:
      - web

  # Redis Service for Sky Schedule
  redis:
    image: redis
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - web

# Docker Networks
networks:
  web:
    driver: bridge
    name: web

# Volumes
volumes:
  acsays-dbdata:
    driver: local
    name: acsays-dbdata
  schedule-dbdata:
    driver: local
    name: schedule-dbdata
